.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icons {
  height: 50px;
  width: 60px;
}
.facebook {
  color: rgb(39, 148, 202);
}
.instagram {
  color: rgb(39, 148, 202);
}
.twitter {
  color: rgb(39, 148, 202);
}
.gmail {
  color: rgb(39, 148, 202);
}
input {
  display: none;
}
.upload {
  height: 25px;
  width: 100px;
  background-color: silver;
  border-radius: 5px;
}
.Background{
  background-image: url(VR.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  color: white;
}
img{
  border-radius: 4px;
  padding: 5px;
  width: 600px;
}
